/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

/*Pop Up Cards CSS*/
.service {
    width: 80%;
    height: 325px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    border: 1px solid #ddd;
    -webkit-transition: all 0.3s ease;
    transition: all 0.6s ease; }
.service .service-icon-box {
    position: relative;
    top: 50px;
    display: inline-block;
    margin-bottom: 40px;
    padding: 10px;
    background: white;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
.service .service-heading {
    position: relative;
    top: 80px;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
.service .service-description {
    width: 90%;
    height: auto;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
.service .service-icon-box > img.service-icon {
    width: 40px; }
.service:hover {
    border-color: #00a8ff; }
.service:hover .service-icon-box {
    top: -30px; }
.service:hover .service-heading {
    top: -30px; }
.service:hover .service-description {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

/*Flip Card CSS*/
.card {
    position: relative;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
    height: 500px;
    -webkit-perspective: 5000;
    perspective: 5000;
}

.card .container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    margin: auto;
}

.card .container .front, .card .container .back {
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card .container .front .row, .card .container .front .column, .card .container .front .columns, .card .container .back .row, .card .container .back .column, .card .container .back .columns {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card .container .front {
    /*z-index: 2;*/
}

.card .container .back {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: scroll;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card .container:hover {
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
    transform: rotate3d(0, 1, 0, 180deg);
}

.card .container {
    border: solid 1px #eeeeee;
}

.card .container .front, .card .container .back {
    padding: 1em;
}

.card .square .container {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}